.second{
	background:black;
	padding:1rem;
	height:50rem;
	width:1000px;

}
.first{
	background:black;
	padding:1rem;
	height:50rem;
	width:1000px;

}
.third{
	background:black;
	padding:1rem;
	height:50rem;
	width:1000px;

}